*{
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

@font-face{
	font-family: giulia,sans-serif;
	font-weight: 700;
	font-style: normal;
}

:root{
	--Achtergrond:#DEDEDE;
	--Detail: #2E2E2E;
	--Tekst: white;
	--Vakken: white;
	--DetailTekst: #2E2E2E;
	--Jaar1: #5EB560;
	--Jaar2: #9E3E3C;
	--Jaar3: #4B88FF;
	--Jaar4: #FFAF29;
}

@media (prefers-color-scheme:dark) {
	:root {
		--Achtergrond: #2E2E2E;
		--Detail: white;
		--DetailTekst: #2E2E2E;
		--Tekst: #2E2E2E;
		--Jaar1: #396E3A;
		--Jaar2: #702C2B;
		--Jaar3: #1C3361;
		--Jaar4: #B36514;
	}
}

body{
	background-color: var(--Achtergrond);
}


header{
	background-color: var(--Detail);
	color: var(--Tekst);
	text-align: center;
	padding: 40px;
	min-width: 320px;
	display: flex;
	flex-direction: column;
	align-items: center;
}


span{
	font-size: 3em;
	font-family: giulia,sans-serif;
}

span:nth-of-type(5){
	margin-right: .3em;
}

article{
	margin: .6em;
}

/*Begin naam animatie*/

@keyframes letter-bounce{
	0%{
		transform: scale(1);
		animation-timing-function: ease-in;
	}

	25%{
		transform: scale(1.2);
		animation-timing-function: ease-out;
	}

	50%{
		transform: scale(.8);
		animation-timing-function: ease-in;
	}

	75%{
		transform: scale(1);
		animation-timing-function: ease-out;
	}

	100%{
		transform: scale(1);
		animation-timing-function: ease-out;
	}
}

article:hover span:nth-of-type(1){
	animation-name: letter-bounce;
	animation-duration: 4.4s;
	animation-delay: 0s;
	animation-fill-mode:forwards;
}

article:hover span:nth-of-type(2){
	animation-name: letter-bounce;
	animation-duration: 4.4s;
	animation-delay: 0.4s;
	animation-fill-mode:forwards;
}

article:hover span:nth-of-type(3){
	animation-name: letter-bounce;
	animation-duration: 4.4s;
	animation-delay: 0.8s;
	animation-fill-mode:forwards;
}

article:hover span:nth-of-type(4){
	animation-name: letter-bounce;
	animation-duration: 4.4s;
	animation-delay: 1.2s;
	animation-fill-mode:forwards;
}

article:hover span:nth-of-type(6){
	animation-name: letter-bounce;
	animation-duration: 4.4s;
	animation-delay: 1.6s;
	animation-fill-mode:forwards;
}

article:hover span:nth-of-type(7){
	animation-name: letter-bounce;
	animation-duration: 4.4s;
	animation-delay: 2s;
	animation-fill-mode:forwards;
}

article:hover span:nth-of-type(8){
	animation-name: letter-bounce;
	animation-duration: 4.4s;
	animation-delay: 2.4s;
	animation-fill-mode:forwards;
}

article:hover span:nth-of-type(9){
	animation-name: letter-bounce;
	animation-duration: 4.4s;
	animation-delay: 2.8s;
	animation-fill-mode:forwards;
}

article:hover span:nth-of-type(10){
	animation-name: letter-bounce;
	animation-duration: 4.4s;
	animation-delay: 3.2s;
	animation-fill-mode:forwards;
}

article:hover span:nth-of-type(11){
	animation-name: letter-bounce;
	animation-duration: 4.4s;
	animation-delay: 3.6s;
	animation-fill-mode:forwards;
}

article:hover span:nth-of-type(12){
	animation-name: letter-bounce;
	animation-duration: 4.4s;
	animation-delay: 4s;
	animation-fill-mode:forwards;
}

article:hover span:nth-of-type(13){
	animation-name: letter-bounce;
	animation-duration: 4.4s;
	animation-delay: 4.4s;
	animation-fill-mode:forwards;
}
/* Eind naam animatie */

/* Begin sorteer balk */
nav{
	align-self: center;
	margin-top: 1em;

}

main.vormgeving li:not(.vormgeving) {
  display:none;
}

main.code li:not(.code) {
  display:none;
}

main.overig li:not(.overig) {
  display:none;
}

label{
	color: var(--Detail);
	padding: 0.8em 1.6em;
	margin: .9em;
	border: solid 1px var(--Tekst);
	background-color: var(--Tekst);
	border-radius: 25px;
	font-size: 70%;
	font-weight: bold;

}

input:checked+label{
	color: var(--Detail);
	background-color: var(--Jaar1);
	border: solid 1px var(--Jaar1);
}

label:hover{
	color: var(--Tekst);
	background-color: var(--Detail);
	border: solid 1px var(--Tekst);
}

/* Bron: https://www.a11yproject.com/posts/2013-01-11-how-to-hide-content/*/

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

input:focus+label{
	border: 3px solid var(--Tekst);
}

/* Eind sorteer balk */

article{
	display: flex;
	flex-direction: row;
}

main{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 600px));
	grid-gap: 30px 50px;
	justify-content: center;

}

section{
	margin: 30px 50px;
	max-width: 600px;
	min-width: 300px;	
}

.jaar1{
	display: inline-block;
	width: auto;
	height: ;
	background-color: var(--Jaar1);
	box-sizing: border-box;
}

.jaar2{
	display: inline-block;
	width: auto;
	height: ;
	background-color: var(--Jaar2);
	box-sizing: border-box;
}

.jaar3{
	display: inline-block;
	width: auto;
	height: ;
	background-color: var(--Jaar3);
	box-sizing: border-box;
}

.jaar4{
	display: inline-block;
	width: auto;
	height: ;
	background-color: var(--Jaar4);
	box-sizing: border-box;
}

.zelf{
	display: inline-block;
	width: auto;
	box-sizing: border-box;
	background-color: white;
	min-width: 280px;
	max-width: 1300px;
}

.zelf li{
	color: var(--Detail);
}

.zelf h2{
	color: var(--DetailTekst);
}


h2{
	text-align: center;
	padding-top: 20px;
	color: var(--Tekst);
}

ul{
	margin-bottom: 6%;
}

li{
	list-style-type: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: 10px;
}

a:focus{
	outline: none;
	border-radius: 25px;
	border: solid #2E2E2E 4px;
}

a{
	text-decoration: none;
	color: var(--DetailTekst);
	background-color:var(--Vakken);
	font-weight: bold;
	display: block;
	flex-direction: row;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding: 15px 0px;
	margin: 3%;
	width: 90%;
	border-radius: 25px;
	position: relative;
}

h3{
	font-size: 1em;
}

.p1{
	background-color: var(--Jaar1); 
	color: white;
}

.p2{
	background-color: var(--Jaar2);
	color: white;

}

.p3{
	background-color: var(--Jaar3);
	color: white;

}

.p4{
	background-color:var(--Jaar4);
	color: white;

}


a:hover{
	background-color: #2E2E2E;
	color: white;
}

/*Begin review zichtbaar maken en weghalen*/
a:focus::before,a:focus::after{
	content: '';
	width: 0.1em;
	height: 0.8em;
	position: absolute;
	background-color: var(--DetailTekst);
	display: block;
	right: 2em;
	transform-origin: center;
	transition: .3s;
}

a:focus::before{
	transform: rotate(-60deg);
}

a:focus::after{
	transform: rotate(60deg);
	bottom: 0.9em;
}

li.tonen a:focus::before{
	transform: rotate(60deg);
}

li.tonen a:focus::after{
	transform: rotate(-60deg);
}

div{
	display: none;
}

li.tonen div{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

li img{
	width: 90%;
	margin: 0;
	border: var(--Tekst) 2px solid;
	border-radius: 25px;
}

li p{
	width: 90%;
	align-self: center;
	color: var(--Detail);
	margin-top: 1em;
	text-align: center;
}
/*Eind review zichtbaar maken en weghalen*/

footer{
	text-align: center;
	background-color: white;
	color: #2E2E2E;
	padding: 30px;
	font-weight: bold;
}
footer p{
	font-size: 1em;
}

@media only screen and (min-width: 2000px){

	main{
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 800px));
		grid-gap: 30px 50px;
		justify-content: center;
		font-size: 1.3em;
		max-width: 2500px;
		margin: auto;
	}

	section{
		max-width: 800px;
	}

	article{
		margin: 1em;
	}

	span{
		font-size: 4em;
	}

	label{
		padding: 1em 2em;
		margin: 1.5em;
		font-size: 21px;
		border-radius: 40px;
	}
}