/* CSS Document */

/* FONTS */
@font-face {
	font-family: 'futura';
	src: url('../fonts/futura-pt-medium.otf') format('opentype');
	font-weight: 100;
	font-style: normal;
}

:root{
	--hariboAchtergrond:#FFE802;
	--googleAchtergrond:#FFFFFF;
	--titel: black;
	--mainAchtergrond: #E3E3E3;
	--hariboBorder: white;
	--hariboShadow: black;
}

@media (prefers-color-scheme:dark) {
	:root {
	--hariboAchtergrond:#F29F05;
	--googleAchtergrond:#1F2123;
	--titel: white;
	--mainAchtergrond: #303134;
	--hariboBorder: black;
	--hariboShadow: white;
	}
}


/* ALGEMENE STYLING */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--mainAchtergrond);
}

h1{
	font-family: sans-serif;
	color: var(--titel);
}



/* BRAND STYLING */

.google{
	display: flex;
	flex-direction: row;
	font-size: 350%;
	font-family: futura-pt,sans-serif;
	font-weight: 300;
	font-style: normal;
	padding: 35px 100px;
  	background-color: var(--googleAchtergrond);
  	margin-bottom: 20px;
}
h2{
	line-height: 1em;
}

h2.g1{
	color: #4F80C1;
	z-index: 1;

}

h2.o1{
	color: #DF4A32;
	z-index: 3
}

h2.o2{
	color: #FBB911;
	position: relative;
	line-height: 1em;
	transform-origin: 50% 63%;
	z-index: 6
}


h2.o2::before{
	background-color: #FBB911;
	content: '';
	width: 0.1em;
	height: 0.2em;
	display: block;
	position: absolute;
	bottom: 0.06em;
	left: 9px;
	transform: rotate(45deg);
	transform-origin: top left;
}

@keyframes stokje-animation{
	0%{
		transform: scale(1) rotate(45deg);
	}

	60%{
		transform: scale(1) rotate(45deg);
	}

	70%{
		transform: scale(0) rotate(45deg);
	}

	100%{
		transform: scale(0) rotate(45deg);
	}
}

@keyframes o2-animation{
	0%{
		transform: rotate(0);
	}
	10%{
		transform: rotate(270deg);
	}
	100%{
		transform: rotate(270deg);
	}
}

@keyframes g1-animation{
	0%{
		opacity: 0;
		transform: translateX(150%);
	}

	10%{
		opacity: 0;
		transform: translateX(150%) scale(0.6);
		
	}

	11%{
		transform: translateX(150%) scale(0.6);
		opacity: 100%;
	}

	50%{
		transform: translateX(0) scale(1);
		opacity: 100%
	}
}

@keyframes o1-animation{
	0%{
		opacity: 0;
		transform: translateX(110%);
	}

	10%{
		opacity: 0;
		transform: translateX(110%);
		
	}

	11%{
		transform: translateX(110%);
		opacity: 100%;
	}

	50%{
		transform: translateX(0);
		opacity: 100%
	}
}

@keyframes g2-animation{
	0%{
		opacity: 0;
		transform: translateX(-100%);
	}

	10%{
		opacity: 0;
		transform: translateX(-100%) scale(0.6);
		
	}

	11%{
		transform: translateX(-100%) scale(0.6);
		opacity: 100%;
	}

	50%{
		transform: translateX(0) scale(1);
		opacity: 100%
	}
}

@keyframes l-animation{
	0%{
		opacity: 0;
		transform: translateX(-400%) translateY(25%);
	}

	10%{
		opacity: 0;
		transform: translateX(-400%) translateY(25%) scale(0.4);
		
	}

	11%{
		transform: translateX(-400%) translateY(25%) scale(0.4);
		opacity: 100%;
	}

	50%{
		transform: translateX(0) translateY(0) scale(1);
		opacity: 100%
	}
}

@keyframes e-animation{
	0%{
		opacity: 0;
		transform: translateX(-250%) rotate(0);
	}

	10%{
		opacity: 0;
		transform: translateX(-250%) rotate(0);
		
	}

	11%{
		transform: translateX(-250%) rotate(0);
		opacity: 100%;
	}

	50%{
		transform: translateX(0) rotate(0);
		opacity: 100%
	}
	60%{
		transform: translateX(0) rotate(-19deg);
		opacity: 100%
	}

	100%{
		transform: translateX(0) rotate(-19deg);
		opacity: 100%
	}
}
.google:hover h2:nth-of-type(3){
	animation-name: o2-animation;
	animation-duration: 5s;
	animation-fill-mode:forwards;
}

.google:hover h2:nth-of-type(3)::before{
	animation-name: stokje-animation;
	animation-duration: 5s;
	animation-fill-mode:forwards;
}

.google:hover h2:nth-of-type(1){
	animation-name: g1-animation;
	animation-duration: 5s;
	animation-fill-mode:forwards;
}

.google:hover h2:nth-of-type(2){
	animation-name: o1-animation;
	animation-duration: 5s;
	animation-fill-mode:forwards;
}

.google:hover h2:nth-of-type(4){
	animation-name: g2-animation;
	animation-duration: 5s;
	animation-fill-mode:forwards;
}

.google:hover h2:nth-of-type(5){
	animation-name: l-animation; 
	animation-duration: 5s;
	animation-fill-mode:forwards;
}

.google:hover h2:nth-of-type(6){
	animation-name: e-animation;
	animation-duration: 5s;
	animation-fill-mode:forwards;
}

h2.g2{
	color: #4F80C1;
	z-index: 2;
}

h2.l{
	color: #33A653;
	z-index: 4;
}

h2.e{
	color: #DF4A32;
	z-index: 5;
	transform-origin: left-bottom;
}

@font-face{
	font-family: proxima-soft-condensed,sans-serif;
	font-weight: 800;
	font-style: normal;
}

.haribo{
	display: flex;
	flex-direction: row;
	font-family: proxima-soft-condensed,sans-serif;
	font-size: 350%;
	padding: 35px 91px;
  	background-color: var(--hariboAchtergrond);
  	z-index: 10;


}

.haribo h2{
	color: #E3061C;
	text-shadow: 4px 4px 6px var(--hariboShadow);
	-webkit-text-stroke-width: 5px;
	-webkit-text-stroke-color: var(--hariboBorder);
	-webkit-text-fill-color: #E3061C;
	transform-origin: bottom;
	opacity: 0;
}


.haribo h2:nth-of-type(6)::before{
	border-radius: 50%;
	content: '';
	width: .65em;
	height: .65em;
	display: block;
	position: absolute;
	top: -6px;
	left: 28px;

	background-image: 
		radial-gradient(var(--hariboAchtergrond) 70.7%, transparent 70.7%),
		radial-gradient(var(--hariboAchtergrond) 70.7%, transparent 70.7%),
		radial-gradient(var(--hariboAchtergrond) 70.7%, transparent 70.7%);
	background-size: 30% 30%;
	background-position: 
		15% 45%,
		25% 70%,
		45% 90%;
	background-repeat: no-repeat;
}

.haribo h2:nth-of-type(6){
	position: relative;
}

@keyframes letter-bounce{
	0%{
		transform: translateY(-1000%) scaleX(1);
		animation-timing-function: ease-in;
		opacity: 1;
	}


	30%{
		transform: translateY(0) scaleY(1) scaleX(1);
		animation-timing-function: ease-out;
		opacity: 1;
	}

	35%{
		transform: translateY(0) scaleX(1.5) scaleY(0.8);
		animation-timing-function: ease-in;
		opacity: 1;
	}

	40%{
		transform: translateY(0) scaleX(0.8) scaleY(1.5);
		animation-timing-function: ease-out;
		opacity: 1;
	}

	45%{
		transform: translateY(0) scaleX(1.2) scaleY(0.9);
		animation-timing-function: ease-in;
		opacity: 1;
	}

	50%{
		transform: translateY(0) scaleX(0.9) scaleY(1.2);
		animation-timing-function: ease-out;
		opacity: 1;		
	}

	55%{
		transform: translateY(0) scaleX(1) scaleY(1);
		opacity: 1;
	}

	100%{
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes hapje-animation{
	0%{
		opacity: 0;
		transform: translateY(-60%) translateX(60%);
	}
	98%{
		opacity: 0;
		transform: translateY(-60%) translateX(60%);
	}

	99%{
		opacity: 1;
		transform: translateY(-60%) translateX(60%);
	}

	100%{
		opacity: 1;
		transform: translateY(0) translateX(0);
	}
}

/*.haribo:hover{*/
	


.haribo:hover h2:nth-of-type(1){
	animation-name: letter-bounce;
	animation-duration: 6s;
	animation-delay: 0s;
	animation-fill-mode:forwards;
}

.haribo:hover h2:nth-of-type(2){
	animation-name: letter-bounce;
	animation-duration: 6s;
	animation-delay: 0.5s;
	animation-fill-mode:forwards;
}

.haribo:hover h2:nth-of-type(3){
	animation-name: letter-bounce;
	animation-duration: 6s;
	animation-delay: 1s;
	animation-fill-mode:forwards;
}

.haribo:hover h2:nth-of-type(4){
	animation-name: letter-bounce;
	animation-duration: 6s;
	animation-delay: 1.5s;
	animation-fill-mode:forwards;
}

.haribo:hover h2:nth-of-type(5){
	animation-name: letter-bounce;
	animation-duration: 6s;
	animation-delay: 2s;
	animation-fill-mode:forwards;
}

.haribo:hover h2:nth-of-type(6){
	animation-name: letter-bounce;
	animation-duration: 6s;
	animation-delay: 2.5s;
	animation-fill-mode:forwards;
}

.haribo:hover h2:nth-of-type(6)::before{
	animation-name: hapje-animation;
	animation-duration: 7s;
	animation-fill-mode:forwards;
}


